<div class="container">
    <div class="heading"><h2>Select Template</h2></div>
    <div class="row">
        <div class="col-md-6" >
            <div class="main">
                <button class="tmpbtn">Template 1</button>
            </div>
            <div>
                <table class="tbl ">
                    <tr>
                        <td>
                            <tr>Trainer: </tr>
                            <tr>Date:</tr>
                            <tr>Lesson length: </tr>
                        </td>
                        <td>Objective of lesson:</td>
                        <td>Massage:</td>
                    </tr>
                    <tr >
                        <td>Reflex: </td>
                        <td>Tactile: </td>
                        <td>Vestibular:</td>
                    </tr>
                    <tr >
                        <td>Oral:</td>
                        <td>Kinestesia: </td>
                        <td>Muscle tone:</td>
                    </tr>
                    <tr >
                        <td>Proprioception:</td>
                        <td>Vision:</td>
                        <td>Emotions:</td>
                    </tr>
                    <tr >
                        <td>Others: </td>
                        <td>Plan for next session:</td>
                        <td>Parent feedback:</td>
                    </tr>
                    
                </table>
        </div>
        </div>
        <div class="col-md-6">
            <div class="main">
            <button class="tmpbtn">Template 2</button>
        </div>
        <div>
            <table class="tbl">
                <tr >
                    <td>
                        <tr>Trainer: </tr>
                        <tr>Date:</tr>
                        <tr>Lesson length: </tr>
                    </td>
                    <td>Objective of lesson:</td>
                    <td>Massage:</td>
                </tr>
                <tr >
                    <td>Reflex: </td>
                    <td>Tactile: </td>
                    <td>Vestibular:</td>
                </tr>
                <tr >
                    <td>Oral:</td>
                    <td>Kinestesia: </td>
                    <td>Muscle tone:</td>
                </tr>
                <tr >
                    <td>Proprioception:</td>
                    <td>Vision:</td>
                    <td>Emotions:</td>
                </tr>
                <tr >
                    <td>Others: </td>
                    <td>Plan for next session:</td>
                    <td>Parent feedback:</td>
                </tr>
                            </table>
        </div>
        </div>

</div>
