<div class="container" style="padding: 25px;">
    <div class="row">
        <div class="col-12">
            <button class="hm"><fa-icon class="icon" [icon]="faHouse"></fa-icon>Home</button>
        </div>

        

    </div>
    <div class="row" style="padding: 25px;">
        <div class="col-6 cant1">
            <h2 class="chris">Chris Tan</h2>
            <button class="savebtn"><fa-icon class="icon" [icon]="faFileArrowDown"></fa-icon>Save</button>
            <button class="viewlsn"><fa-icon class="icon" [icon]="faFileLines"></fa-icon>View Lesson</button>
        </div>
    </div>
        <div class="row col-12">
            <div class="col-6">
                <textarea class="tex1">Case Manager Notes
                Recent Changes:
                Is an enthusiastic learner who seems to enjoy school.
                Exhibits a positive outlook and attitude in the classroom.
                appears well rested and ready for each day's activities.
                shows enthusiasm for classroom activities.
                shows initiative and looks for new ways to get involved.
                uses instincts to deal with matters independently and in a 
                positive way.
                strives to reach their full potential.
                is committed to doing their best.seeks new challenges.
                takes responsibility for their learning.
                Communication:
                appears well rested and ready for each day's activities.
                shows enthusiasm for classroom activities.
                shows initiative and looks for new ways to get involved.
                uses instincts to deal with matters independently and in a 
                positive way.
                strives to reach their full potential.
                is committed to doing their best.
                seeks new challenges.
                takes responsibility for their learning.
        </textarea>
            </div>
    
            <div class="col-6">
                <textarea class="text2" >Review Manager Notes
                    Recent Changes:
                    Is an enthusiastic learner who seems to enjoy school.
                    Exhibits a positive outlook and attitude in the classroom.
                    appears well rested and ready for each day's activities.
                    shows enthusiasm for classroom activities.
                    shows initiative and looks for new ways to get involved.
                    uses instincts to deal with matters independently and in a 
                    positive way.
                    strives to reach their full potential.
                    is committed to doing their best.
                    seeks new challenges.
                    takes responsibility for their learning.
                    Communication:
                    appears well rested and ready for each day's activities.
                    shows enthusiasm for classroom activities.
                    shows initiative and looks for new ways to get involved.
                    uses instincts to deal with matters independently and in a 
                    positive way.
                    strives to reach their full potential.
                    is committed to doing their best.
                    seeks new challenges.
                    takes responsibility for their learning.
                  </textarea>
            </div>
</div>
