<div class="container" style="padding: 25px;">
    <div class="row">
        <div class="col-12">
            <button class="hm1"><fa-icon [icon]="faHouse"></fa-icon>Home</button>
        </div>
    </div>
    <div class="row col-12" style="padding: 25px;">
        <div class="col-6 mainline">
    <h2 class="christan" >Chris Tan</h2>
<button class="nlsn"><fa-icon [icon]="faCirclePlus"></fa-icon>New Lesson</button>
<button class="vcn"><fa-icon [icon]="faFolder"></fa-icon>View case notes</button>

</div>
<div class="col-6 mainsearch" >
    <input class="search" type="search"> 
    
</div>
</div>

<div class="row col-12">
<div class="col-6 savefile">
<button class="save"><fa-icon [icon]="faFileArrowDown"></fa-icon>Save</button>
</div>
<div class="col-6 savefile" >
<button class="save" ><fa-icon [icon]="faFileArrowDown"></fa-icon>Save</button>
</div>
</div>

<div class="row col-12">
    <div class="col-6" >
        <table class="tbl">
            <tr>
                <td>
                    <tr>Trainer:John Tan </tr>
                    <tr>Date:</tr>
                    <tr>Lesson length:1.5 hr </tr>
                </td>
                <td>Objective of lesson:</td>
                <td>Massage:</td>
            </tr>
            <tr >
                <td>Reflex: </td>
                <td>Tactile: </td>
                <td>Vestibular:</td>
            </tr>
            <tr >
                <td>Oral:</td>
                <td>Kinestesia: </td>
                <td>Muscle tone:</td>
            </tr>
            <tr >
                <td>Proprioception:</td>
                <td>Vision:</td>
                <td>Emotions:</td>
            </tr>
            <tr >
                <td>Others: </td>
                <td>Plan for next session:</td>
                <td>Parent feedback:</td>
            </tr>
            
        </table>
    </div>
    <div class="col-6" >
        <table class="tbl tbl2" >
            <tr>
                <td>
                    <tr>Trainer: </tr>
                    <tr>Date:</tr>
                    <tr>Lesson length: </tr>
                </td>
                <td>Objective of lesson:</td>
                <td>Massage:</td>
            </tr>
            <tr >
                <td>Reflex: </td>
                <td>Tactile: </td>
                <td>Vestibular:</td>
            </tr>
            <tr >
                <td>Oral:</td>
                <td>Kinestesia: </td>
                <td>Muscle tone:</td>
            </tr>
            <tr >
                <td>Proprioception:</td>
                <td>Vision:</td>
                <td>Emotions:</td>
            </tr>
            <tr >
                <td>Others: </td>
                <td>Plan for next session:</td>
                <td>Parent feedback:</td>
            </tr>
            
        </table>
    </div>

</div>


</div>